div{
    border:solid 2px red;
    height:150px;
    width:670px;
    position:relative;
    z-index: 2;
}
p{
    border:solid 2px black;
    font-size:12px;
}
.abc{
    position:absolute;
    bottom: 20px; 
    right:10px;
}
h1{
    position:relative;
    z-index:1;
}
