.a{
    border: solid 2px black;
    background-color: aqua;
    height:170px;
}
.b{
    border: solid 3px black;
    background-color: aquamarine;
    height:170px;
}
.c{
    border:solid 3.5px black;
    background-color: bisque;
    height:170px;
}
.d{
    border: solid 4px black;
    background-color: brown;
    height:170px;
}
.a1{
    border:dotted 3px blue;
    background-color:black;
    width:50%;
    height:166px
}
.a2{
    border: dotted 3px red;
    background-color: beige;
    width:65%;
    height: 166px;
}
.a3{
    border: dotted 1.5px yellow;
    background-color:blueviolet;
    height:166px;
    width:50%;
}
.b1{
    border: solid 2px black;
    background-color: grey;
    height:83px;
    width:50%
}
.b12{
    border:soild 2px black;
    background-color: red;
    height:83px;
    width:50.5%
}
.b13{
    border:solid 2px black;
    background-color:orange;
    height:83px;
    width:50%;
}
.b14{
    border:solid 2px black;
    background-color: wheat;
    height:83px;
    width:20%;
}